@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

 *{
    padding: 0;
    margin: 0;
}
body{
    background: white;
    width: 1140px !important;
    min-width: 100%;
    min-height: 800px;
}

.menu {
	background-color: gray;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}

.title {
	background-color: gray;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 600px;
}

.Title-1 {
	color: black;
	font-size: 162px;
	font-family: 'Playfair Display', serif;
}

.text {
	font-family: 'Playfair Display', serif;
}
.extra-section {
	background-color: gray;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}

.bottom {
	background-color: gray;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}