@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

 *{
    padding: 0;
    margin: 0;
}
body{
	background: white;
    width: 1140px !important;
    min-width: 100%;
    min-height: 800px;
}

.menu {
	background-color: gray;
	color: white;
	border: 1px solid black;
	min-height: 100px;
}

.title {
	background-color: gray;
	color: white;
	border: 1px solid black;
	text-align: center;
	min-height: 100px;
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
	min-width: 100%;
	min-height: 600px;
	color: black;
}

.Title-1 {
	font-size: 162px;
	font-family: 'Playfair Display', serif;
}

.Title-2{
	font-weight: bold;
	font-size: 1.7em;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.Title-3{
	font-weight: bold;
	font-size: 1.2em;
	font-family: 'Playfair Display', serif;
}


.text {
	font-family: 'Playfair Display', serif;
}
.extra-section {
	background-color: gray;
	color: white;
	border: 1px solid black;
	min-height: 100px;
}

.bottom {
	background-color: gray;
	color: white;
	border: 1px solid black;
	min-height: 100px;
}

.gallery {
	margin-top: 50px;
}

.books {
	margin-top: 50px;
}

.book {
	min-height: 400px;
	padding: 20px;
	padding-right: 60px;
	padding-left: 60px;
}

.book-information {
	align-items: center;
	border: 1px solid black;
	background-color: ghostwhite;
	min-height: 360px;
	text-align: center;
	padding: 10px;
}

.book :hover {
	background-color: cadetblue;
}

.image-book {
	border: 1px solid black;
	border-radius: 8px;
	max-width: 200px;
	max-height: 250px;
}

.menu a {
	color: white;
}

.books a {
	text-decoration: none;
	color: black;
}

.extra-section a {
	color: white;
}


